# silverScore - rawdata 전처리

## Basic Setting

In [3]:
import pandas as pd
base_bath = './rawdata/'

### 법정동코드목록
- link : https://www.code.go.kr/stdcode/regCodeL.do
- rawdata : 법정동코드 전체자료.txt

#### rawdata 데이터프레임화 하기

데이터를 열어보니까 'euc-kr'로 인코딩이 되어있고 형식은 아래와 같은 것을 확인함.<br>

법정동코드, 법정동명, 폐지여부<br>
1100000000, 서울특별시, 존재<br>
1111000000, 서울특별시 종로구, 존재<br>
1111010100, 서울특별시 종로구 청운동, 존재<br>
...<br>

In [4]:
address_txt = pd.read_csv(base_bath+'법정동코드 전체자료.txt', sep ='/t', encoding='euc-kr',engine='python')
address_txt

                          법정동코드, 법정동명, 폐지여부
0                     1100000000, 서울특별시, 존재
1                 1111000000, 서울특별시 종로구, 존재
2             1111010100, 서울특별시 종로구 청운동, 존재
3             1111010200, 서울특별시 종로구 신교동, 존재
4             1111010300, 서울특별시 종로구 궁정동, 존재
...                                     ...
46335  5013032022\t제주특별자치도 서귀포시 표선면 하천리\t존재
46336  5013032023\t제주특별자치도 서귀포시 표선면 성읍리\t존재
46337  5013032024\t제주특별자치도 서귀포시 표선면 가시리\t존재
46338  5013032025\t제주특별자치도 서귀포시 표선면 세화리\t존재
46339  5013032026\t제주특별자치도 서귀포시 표선면 토산리\t존재

[46340 rows x 1 columns]

위를 확인해 보면 구분자가 , 일 때도 있고 \t일 때도 있어서 \t를 ,로 바꿔보기로 함.

In [3]:
address_txt.iloc[:,0].str.replace('\t',', ')

0                       1100000000, 서울특별시, 존재
1                   1111000000, 서울특별시 종로구, 존재
2               1111010100, 서울특별시 종로구 청운동, 존재
3               1111010200, 서울특별시 종로구 신교동, 존재
4               1111010300, 서울특별시 종로구 궁정동, 존재
                         ...
46335    5013032022, 제주특별자치도 서귀포시 표선면 하천리, 존재
46336    5013032023, 제주특별자치도 서귀포시 표선면 성읍리, 존재
46337    5013032024, 제주특별자치도 서귀포시 표선면 가시리, 존재
46338    5013032025, 제주특별자치도 서귀포시 표선면 세화리, 존재
46339    5013032026, 제주특별자치도 서귀포시 표선면 토산리, 존재
Name: 법정동코드, 법정동명, 폐지여부, Length: 46340, dtype: object

In [4]:
address_txt.iloc[:,0] = address_txt.iloc[:,0].str.replace('\t',', ')
# address_txt.iloc[:,0] = address_txt.iloc[:,0].str.replace(', ',',')
address_txt.columns = ['법정동코드, 법정동명, 폐지여부',]
address_txt

                          법정동코드, 법정동명, 폐지여부
0                     1100000000, 서울특별시, 존재
1                 1111000000, 서울특별시 종로구, 존재
2             1111010100, 서울특별시 종로구 청운동, 존재
3             1111010200, 서울특별시 종로구 신교동, 존재
4             1111010300, 서울특별시 종로구 궁정동, 존재
...                                     ...
46335  5013032022, 제주특별자치도 서귀포시 표선면 하천리, 존재
46336  5013032023, 제주특별자치도 서귀포시 표선면 성읍리, 존재
46337  5013032024, 제주특별자치도 서귀포시 표선면 가시리, 존재
46338  5013032025, 제주특별자치도 서귀포시 표선면 세화리, 존재
46339  5013032026, 제주특별자치도 서귀포시 표선면 토산리, 존재

[46340 rows x 1 columns]

In [5]:
# 이걸 저장하고 csv로 다시 열기
address_txt.to_csv(base_bath+'법정동코드 전체자료.csv', sep=',', encoding='utf-8', index=False)

##### csv 로 다시 load 한 df 정제하기

In [6]:
address_df = pd.read_csv(base_bath+'법정동코드 전체자료.csv', sep=', ', encoding='utf-8', engine='python')
address_df.info() # 46340 개 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46340 entries, 0 to 46339
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   "법정동코드  46340 non-null  object
 1   법정동명    46340 non-null  object
 2   폐지여부"   46340 non-null  object
dtypes: object(3)
memory usage: 1.1+ MB

In [7]:
address_df.head(2)

        "법정동코드       법정동명 폐지여부"
0  "1100000000      서울특별시   존재"
1  "1111000000  서울특별시 종로구   존재"

In [8]:
print(address_df.columns)  # Index(['"법정동코드', '법정동명', '폐지여부"'], dtype='object')
address_df.columns = ['법정동코드', '법정동명', '폐지여부']
address_df.tail(2)

Index(['"법정동코드', '법정동명', '폐지여부"'], dtype='object')

             법정동코드                  법정동명 폐지여부
46338  "5013032025  제주특별자치도 서귀포시 표선면 세화리  존재"
46339  "5013032026  제주특별자치도 서귀포시 표선면 토산리  존재"

In [9]:
address_df.iloc[:,0] = address_df.iloc[:,0].str.replace('"','')
address_df.iloc[:,2] = address_df.iloc[:,2].str.replace('"','')
address_df.to_csv(base_bath+'법정동코드 전체자료.csv', encoding='utf-8') # 1차 저장

##### address_df 로 정제하기

In [10]:
address_df

            법정동코드                  법정동명 폐지여부
0      1100000000                 서울특별시   존재
1      1111000000             서울특별시 종로구   존재
2      1111010100         서울특별시 종로구 청운동   존재
3      1111010200         서울특별시 종로구 신교동   존재
4      1111010300         서울특별시 종로구 궁정동   존재
...           ...                   ...  ...
46335  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46336  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46337  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46338  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46339  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[46340 rows x 3 columns]

In [11]:
print(f'{address_df.iloc[:,0].name} : {sum(address_df.iloc[:,0].isna())}') # 법정동코드의 NaN 즉 빈 값 갯수 확인
print(f'{address_df.iloc[:,1].name} : {sum(address_df.iloc[:,1].isna())}') # 법정동명의 NaN 즉 빈 값 갯수 확인
print(f'{address_df.iloc[:,2].name} : {sum(address_df.iloc[:,2].isna())}') # 폐지여부의 NaN 즉 빈 값 갯수 확인

법정동코드 : 0
법정동명 : 0
폐지여부 : 0

In [12]:
print(address_df.columns, len(address_df))
address_df['폐지여부'].value_counts()

Index(['법정동코드', '법정동명', '폐지여부'], dtype='object') 46340

폐지    25790
존재    20550
Name: 폐지여부, dtype: int64

In [14]:
# 폐지된 건 사용하지 않고 존재하는 것만 사용하기 & 존재 column 없애기기
address_df = address_df[address_df['폐지여부'] == '존재'].reset_index(drop=True)
address_df.info() # 20550

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20550 entries, 0 to 20549
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   법정동코드   20550 non-null  object
 1   법정동명    20550 non-null  object
 2   폐지여부    20550 non-null  object
dtypes: object(3)
memory usage: 481.8+ KB

In [16]:
address_df[address_df['폐지여부'] != '존재']

Empty DataFrame
Columns: [법정동코드, 법정동명, 폐지여부]
Index: []

전부 '존재' 이므로 '폐지여부' column 제거

In [18]:
address_df = address_df.iloc[:,:2]
address_df.head(2)

        법정동코드       법정동명
0  1100000000      서울특별시
1  1111000000  서울특별시 종로구

법정동코드 10자리는 2자리(시도)+3자리(시군구)+3자리(읍면동)+2자리(리) 로 구성되어 있으므로 해당의 기준에 맞게 쪼개어 분리

In [19]:
address_df['법정동명'].str.split(" ")

0                          [서울특별시]
1                     [서울특별시, 종로구]
2                [서울특별시, 종로구, 청운동]
3                [서울특별시, 종로구, 신교동]
4                [서울특별시, 종로구, 궁정동]
                   ...
20545    [제주특별자치도, 서귀포시, 표선면, 하천리]
20546    [제주특별자치도, 서귀포시, 표선면, 성읍리]
20547    [제주특별자치도, 서귀포시, 표선면, 가시리]
20548    [제주특별자치도, 서귀포시, 표선면, 세화리]
20549    [제주특별자치도, 서귀포시, 표선면, 토산리]
Name: 법정동명, Length: 20550, dtype: object

In [26]:
print(address_df['법정동명'].str.split(" ").get(0))
print(address_df['법정동명'].str.split(" ").get(1))
print(address_df['법정동명'].str.split(" ").get(2))
print(address_df['법정동명'].str.split(" ").get(3))

['서울특별시']
['서울특별시', '종로구']
['서울특별시', '종로구', '청운동']
['서울특별시', '종로구', '신교동']

`address_df['법정동명'].str.split(" ")`으로 [제주특별자치도, 서귀포시, 표선면, 하천리] 처럼 분리 후, 해당에 맞게 get으로 분리. 도시

In [27]:
address_df['시도'] = address_df['법정동명'].str.split(" ").str.get(1).fillna(' ') # 시도
address_df['시군구'] = address_df['법정동명'].str.split(" ").str.get(2).fillna(' ') # 시군구
address_df['읍면동'] = address_df['법정동명'].str.split(" ").str.get(3).fillna(' ') # 읍면동
address_df['리'] = address_df['법정동명'].str.split(" ").str.get(4).fillna(' ') # 리
# type(address_df['법정동코드']) # pandas.core.series.Series
# 시코드 = cityCd
address_df['도시코드'] = address_df['법정동코드'].astype(str).str.extract(r'([0-9]{2})')
address_df['시군구코드'] = address_df['법정동코드'].astype(str).str.extract(r'(^[0-9]{2}([0-9]{3}))').iloc[:,1:]
address_df['읍면동코드'] = address_df['법정동코드'].astype(str).str.extract(r'(^[0-9]{5}([0-9]{3}))').iloc[:,1:]
address_df['리코드'] = address_df['법정동코드'].astype(str).str.extract(r'(^[0-9]{8}([0-9]{2}))').iloc[:,1:]

In [28]:
address_df

,법정동코드,법정동명,시도,시군구,읍면동,리,도시코드,시군구코드,읍면동코드,리코드
0,1100000000,서울특별시,,,,,11,000,000,00
1,1111000000,서울특별시 종로구,종로구,,,,11,110,000,00
2,1111010100,서울특별시 종로구 청운동,종로구,청운동,,,11,110,101,00
3,1111010200,서울특별시 종로구 신교동,종로구,신교동,,,11,110,102,00
4,1111010300,서울특별시 종로구 궁정동,종로구,궁정동,,,11,110,103,00
...,...,...,...,...,...,...,...,...,...,...
20545,5013032022,제주특별자치도 서귀포시 표선면 하천리,서귀포시,표선면,하천리,,50,130,320,22
20546,5013032023,제주특별자치도 서귀포시 표선면 성읍리,서귀포시,표선면,성읍리,,50,130,320,23
20547,5013032024,제주특별자치도 서귀포시 표선면 가시리,서귀포시,표선면,가시리,,50,130,320,24
20548,5013032025,제주특별자치도 서귀포시 표선면 세화리,서귀포시,표선면,세화리,,50,130,320,25
20549,5013032026,제주특별자치도 서귀포시 표선면 토산리,서귀포시,표선면,토산리,,50,130,320,26

- addressNumbers.csv 로서 care/data/addressNumbers.csv가 될 수 있도록 저장하고 이후에 Django shell 에서 bulk_create 넣을 수 있도록 처리.
- csv_create_bulk.py 에서 사용 시, addressNumbers.csv의 header이자 columns 삭제 후 진행

In [31]:
# 저장하기
address_df.to_csv(base_bath+'addressNumbers.csv',encoding='utf-8')